*{
  box-sizing: border-box;
}

body{
  background-image: url(/src/assets/reactbg.jpg);
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: #24282e;
  margin: 0;
  font-family: Inter,sans-serif;
}

.title{
  color: #01dafe;
  font-size: 35px;
  margin-left: 10px;
}

.logo{
  margin-left: 10px;
  width: 40px;
}

.navbar{
  background-color: #1e1f26;
  display: flex;
  align-items: center;
  height: 90px;
}

.header{
  height: 100%;
}

.facts{
  margin: 50px;
}

.heading{
  color: aliceblue;
  font-size: 2.4rem;
}

.list > li{
  color: rgb(190, 190, 190);
  margin-block: 10px;
  font-weight: bold;
}

.list > li::marker{
  color: #01dafe;
}